.footer-corporate-travel__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    color: $basic-black;;
    padding: 0;
    margin-bottom: 20px;
}

.footer-corporate-travel__text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 170%;
    color: $special-black;
    width: 325px;
}