.prices {
  display: flex;
  margin: 0 auto;
  margin-top: 190px;
  margin-left: 5px;
}

.prices__wrapper {
  order: 2;
  margin-left: 83px;
  margin-top: 115px;
}

.prices__title {
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  line-height: 90px;
  margin: 0;
  margin-bottom: 30px;
  margin-top: 47px;

  &::after {
    width:175px;
    height:3px;
    background: $basic-tomato;
    content: '';
    display: block;
    margin-top: 15px;
    }
}

.prices__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  color: $special-grey-shadow;
  width: 300px;
}

.prices__caption {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 34px;
  color: $basic-black;
  text-align: center;
  margin: 0;
  margin-top: 61px;
  margin-bottom: 10px;
}

.prices__phone {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  text-decoration: none;
  color: $special-black-shadow;
  margin: 0;
  padding: 0;
  margin-left: 48px;
}

.prices__card {
  background: $basic-white;
  border: 1px solid $special-grey;
  border-radius: 6px;
}
