.questions {
    max-width: 1170px;
    background-image: url("../img/questions__bg.jpg");
    background-color: $basic-white;
    background-repeat: no-repeat;
    background-position: center center;
    height: 455px;
    margin-top: 135px;
    margin-left: 225px;
    position: relative;
}