@font-face {
  font-family: "Montserrat";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/montserrat-regular.woff2") format("woff2"),
    url("../fonts/montserrat-regular.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: medium;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/montserrat-500.woff2") format("woff2"),
    url("../fonts/montserrat-500.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/montserrat-600.woff2") format("woff2"),
    url("../fonts/montserrat-600.woff") format("woff");
}
